body, html{
  height:100%;
  overflow: hidden;
}
body{
  margin: 0px;
  background-color: black;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

@keyframes spin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(359deg);
	}
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.BlinkyDancer{
  border:5px solid lightgoldenrodyellow;
  border-radius:0;
}

.LineDancer{
  background-image: url("images/pacman.png");
  background-size: 100% 100%;
  border: 0;
  border-radius:0;
  width: 40px;
  height: 40px;
}

.linesize3{
  width: 60px;
  height: 60px;
}

.linesize4{
  width: 80px;
  height: 80px;
}

.linesize5{
  width: 100px;
  height: 100px;
}

.linesize6{
  width: 120px;
  height: 120px;
}

.linesize7{
  width: 140px;
  height: 140px;
}

.linesize8{
  width: 160px;
  height: 160px;
}

.linesize9{
  width: 180px;
  height: 180px;
}

.linesize10{
  width: 200px;
  height: 200px;
}

.linesize11{
  width: 220px;
  height: 220px;
}

.linesize12{
  width: 240px;
  height: 240px;
}

.RiverDancer{
  background-image: url("images/banana.png");
  background-size: 100% 100%;
  border: 0;
  border-radius:0;
  transition: 500ms;
  width: 30px;
  height: 30px;
}

