body, html{
  height:100%;
  overflow: hidden;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.BlinkyDancer{
  border:5px solid lightgoldenrodyellow;
  border-radius:0;
}

.LineDancer{
  border:20px solid yellow;
  border-radius:20px;
}

.linesize3{
  border:30px solid yellow;
  border-radius:30px;
}

.linesize4{
  border:40px solid yellow;
  border-radius:40px;
}

.linesize5{
  border:50px solid yellow;
  border-radius:50px;
}

.linesize6{
  border:60px solid yellow;
  border-radius:60px;
}

.linesize6{
  border:60px solid yellow;
  border-radius:60px;
}

.linesize7{
  border:70px solid yellow;
  border-radius:70px;
}

.linesize8{
  border:80px solid yellow;
  border-radius:80px;
}

.RiverDancer{

}

